@import "tailwindcss";

html,
body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}